header {
    max-width: 1400px;
    margin: auto;
    padding: 0 40px 0 40px;
    
}

footer {
    max-width: 1400px;
    margin: auto;
    padding: 0 40px 0 40px;
}

main {
    max-width: 1400px;
    margin: auto;
    padding: 0 40px 0 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
} 

button {
    background-color: lightblue;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 11px;
    padding: 7px 9px;
    margin: 0px 4px;
    text-transform: uppercase;
}

button:hover {
    background-color: blue;
    transition: background-color;
    transition-duration: .3s;
}